version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: codelearning-db
    restart: always
    environment:
      POSTGRES_DB: codelearning
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD:-Admin123!}
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: codelearning-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
volumes:
  postgres_data:
